:root {
  --design-w-base: 750; /* デザインの基準幅(px) */
  --design-w-pc: 1920;
  --color-white: #ffffff;
  --color-light_blue: #EDFDFF;
  --color-pink: #DBB7C3;
  --color-black: #2D2D2D;
  --color-gray: #6B6B6B;
  --color-navy: #1D4984;
  --color-gold: #E3D594;
}

/*============================
全体
============================*/
html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: calc(32 / var(--design-w-base) * 100vw);
  color: var(--color-black);
  letter-spacing: 0;
}
main {
  overflow-x: hidden;
  margin-bottom: -100vh;
}
a {
  color: var(--color-black);
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
li {
  list-style: none;
}
.gfs-dido {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
}
.serif {
  font-family: "Noto Serif JP", serif;
}

@media screen and (min-width: 751px) {
  body {
    font-size: calc(32 / var(--design-w-pc) * 100vw);
  }
}
/*============================
レイアウト
============================*/
.fv__container {
  position: relative;
  top: 0;
  left: 0;
}
.fv__bg {
  display: none;
}
.fv__logo-fixed {
  display: none;
}
.pc-fade__device-content {
  display: none;
}
.lp__container {
  width: 100%;
  margin: 0 auto;
}
.lp__content-top,
.lp__content-bottom,
.lp__content {
  position: relative;
  width: 100%;
  min-width: calc(750 / var(--design-w-pc) * 100vw);
  margin: 0 auto;
  overflow: hidden;
}

@media screen and (min-width: 751px) {
  .fv__container {
    position: relative;
    top: 0;
    left: 0;
  }
  .fv__bg {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 0;
    pointer-events: none;
  }
  .fv__pc-content {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: calc(1300 / var(--design-w-pc) * 100vw);
    height: calc(708 / var(--design-w-pc) * 100vw);
    top: calc(180 / 1920 * 100vw);
    left: calc(260 / 1920 * 100vw);
    pointer-events: auto;
    z-index: 100;
  }
  .fv__pc-left-item {
    position: relative;
    width: calc(254 / var(--design-w-pc) * 100vw);
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .fv__pc-logo {
    width: calc(133 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(22 / var(--design-w-pc) * 100vw);
  }
  .fv__pc-txt {
    writing-mode: vertical-rl;
    font-size: calc(32 / var(--design-w-pc) * 100vw);
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: .22em;
    margin-bottom: calc(60 / var(--design-w-pc) * 100vw);
  }
  .fv__pc-btn {
    display: block;
    width: calc(254 / var(--design-w-pc) * 100vw);
    font-size: calc(24 / var(--design-w-pc) * 100vw);
    padding: calc(24 / var(--design-w-pc) * 100vw) 0;
    background-color: var(--color-navy);
    color: var(--color-white);
    border: 2px solid var(--color-navy);
    border-radius: 40px;
    text-align: center;
    cursor: pointer;
    transition: .3s;
  }
  .fv__pc-btn:hover {
    background-color: var(--color-white);
    color: var(--color-navy)
  }
  .fv__pc-right-item {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .fv__page-top-btn {
    width: calc(140 / var(--design-w-pc) * 100vw);
    height: calc(140 / var(--design-w-pc) * 100vw);
    background-color: var(--color-navy);
    color: var(--color-white);
    border: 2px solid var(--color-navy);
    font-size: calc(20 / var(--design-w-pc) * 100vw);
    font-weight: 500;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s;
    margin-bottom: calc(14 / var(--design-w-pc) * 100vw);
  }
  .fv__page-top-btn:hover {
    background-color: var(--color-white);
    color: var(--color-navy)
  }
  .fv__scroll-indicator {
    pointer-events: auto;
    margin-bottom: calc(14 / var(--design-w-pc) * 100vw);
  }
  .fv__indicator-line {
    position: relative;
    width: 2px;
    height: calc(380 / var(--design-w-pc) * 100vw);
    background: var(--color-navy);
    border-radius: 2px;
  }
  .fv__indicator-circle {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(27 / var(--design-w-pc) * 100vw);
    height: calc(27 / var(--design-w-pc) * 100vw);
    background: var(--color-navy);
    border-radius: 50%;
    transition: top 0.1s ease-out;
    top: 0;
  }
  .fv__official-btn {
    width: calc(153 / var(--design-w-pc) * 100vw);
    height: calc(153 / var(--design-w-pc) * 100vw);
    background-color: var(--color-gold);
    font-size: calc(20 / var(--design-w-pc) * 100vw);
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: .3s;
  }
  .fv__official-btn:hover {
    opacity: .7;
  }
  .fv__logo-fixed {
    display: block;
    position: fixed;
    z-index: -10;
    top: calc(260 / var(--design-w-pc) * 100vw);
    pointer-events: none;
  }
  .fv__fixed-img {
    width: calc(972 / var(--design-w-pc) * 100%);
    height: 100%;
  }
  .gradation__container {
    background-image: url("../img/gradation-bg.png");
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
  }
  .pc-fade__device-content {
    display: block;
    position: relative;
    width: 100%;
    height: 0;
    margin-top: calc(-6900 / var(--design-w-pc) * 100vw);
    z-index: 5;
  }
  .pc-fade__device-navy {
    position: absolute;
    top: 0;
    right: 0;
    bottom: calc(303 / var(--design-w-pc) * 100%);
    width: calc(303 / var(--design-w-pc) * 100%);
    height: 100%;
  }
  .pc-fade__device-pink {
    position: absolute;
    top: calc(1400 / var(--design-w-pc) * 100vw);
    left: 0;
    width: calc(328 / var(--design-w-pc) * 100%);
    height: 100%;
  }
  .pc-fade__device-gold {
    position: absolute;
    top: calc(2800 / var(--design-w-pc) * 100vw);
    right: 0;
    width: calc(299 / var(--design-w-pc) * 100%);
    height: 100%;
  }
  .pc-fade__device-white {
    position: absolute;
    top: calc(4200 / var(--design-w-pc) * 100vw);
    left: 0;
    width: calc(296 / var(--design-w-pc) * 100%);
    height: 100%;
  }
  .pc-fade__device-black {
    position: absolute;
    top: calc(5600 / var(--design-w-pc) * 100vw);
    right: 0;
    width: calc(289 / var(--design-w-pc) * 100%);
    height: 100%;
  }
  .lp__content-top {
    box-shadow: 0 -5px 15px 4px rgba(135, 148, 150, .6);
  }
  .lp__content-bottom,
  .lp__content {
    box-shadow: 0 5px 15px 4px rgba(135, 148, 150, .6);
  }
  .lp__content-top,
  .lp__content-bottom,
  .lp__content {
    width: 100%;
    max-width: calc(750 / var(--design-w-pc) * 100vw);
    margin: 0 auto;
  }
}

/*============================
共通
============================*/
.section__title {
  font-size: calc(44 / var(--design-w-base) * 100vw);
  font-weight: bold;
  color: var(--color-navy);
  line-height: 1.4;
  text-align: center;
}
@media screen and (min-width: 751px) {
  .section__title {
    font-size: calc(44 / var(--design-w-pc) * 100vw);
  }
}
/*============================
ボタン
============================*/
.cta-btn {
  position: relative;
  display: block;
  width: calc(578 / var(--design-w-base) * 100%);
  margin: 0 auto calc(80 / var(--design-w-base) * 100vw);
  background-color: #06C755; /* 背景色 */
  box-shadow: 2px 4px 0 #03973F; /* 影の太さ・色 */
  border-radius: 999px;
  color: var(--color-white);
  font-weight: bold;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.purchase__cta-btn {
  padding: calc(46 / var(--design-w-base) * 100vw) 0 calc(44 / var(--design-w-base) * 100vw);
  font-size: calc(48 / var(--design-w-base) * 100vw);
}
.purchase__cta-btn::before,
.purchase__cta-btn::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-radius: 2px;
  right: calc(61 / var(--design-w-base) * 100vw);
	width: calc(29 / var(--design-w-base) * 100vw);
	height: 2px;
  background-color: var(--color-white);
}
.purchase__cta-btn::before {
  top: calc(50% - 6px);
  transform: rotate(45deg);
}
.purchase__cta-btn::after {
  bottom: calc(50% - 6px);
  transform: rotate(-45deg);
}
.footer__cta-btn {
  padding: calc(37 / var(--design-w-base) * 100vw) 0 calc(38 / var(--design-w-base) * 100vw);
}
@media screen and (min-width: 751px) {
  .cta-btn {
    margin: 0 auto calc(80 / var(--design-w-pc) * 100vw);
  }
  .purchase__cta-btn {
    padding: calc(46 / var(--design-w-pc) * 100vw) 0 calc(44 / var(--design-w-pc) * 100vw);
    font-size: calc(48 / var(--design-w-pc) * 100vw);
  }
  .purchase__cta-btn::before,
  .purchase__cta-btn::after {
    content: '';
    right: calc(61 / var(--design-w-pc) * 100vw);
    width: calc(29 / var(--design-w-pc) * 100vw);
    height: 3px;
  }
  .purchase__cta-btn::before {
    top: calc(50% - 8px);
  }
  .purchase__cta-btn::after {
    bottom: calc(50% - 9px);
  }
  .footer__cta-btn {
    padding: calc(37 / var(--design-w-pc) * 100vw) 0 calc(38 / var(--design-w-pc) * 100vw);
  }
  .cta-btn:hover {
    transform: translateY(4px);
    box-shadow: 0 0 0 #03973F;
  }
}
/*============================
ファーストビュー
============================*/
#fv {
  position: relative;
  width: 100%;
  aspect-ratio: 750 / 1485;
  background: url("../img/fv-img.jpg") top center / contain no-repeat;
}
.fv__inner {
  position: absolute;
  inset: 0;
  padding: calc(72 / var(--design-w-base) * 100vw) 0 calc(32 / var(--design-w-base) * 100vw);
}
.fv__logo-content {
  display:flex;
  justify-content: space-between;
  margin-bottom: calc(29 / var(--design-w-base) * 100vw);
  padding: 0 calc(58 / var(--design-w-base) * 100vw) 0 calc(42 / var(--design-w-base) * 100vw);
}
.fv__txt-first {
  font-size: calc(36 / var(--design-w-base) * 100vw);
  font-weight: 500;
  color: var(--color-navy);
  line-height: 1.6;
}
.fv__logo {
  width: calc(173 / var(--design-w-base) * 100vw);
}
.fv__txtbox {
  padding-left: calc(42 / var(--design-w-base) * 100vw);
}
.fv__subtitle {
  font-size: calc(64 / var(--design-w-base) * 100vw);
  font-weight: bold;
  color: var(--color-navy);
  line-height: 1.4;
  margin-bottom: calc(49 / var(--design-w-base) * 100vw);;
}
.fv__txt-second {
  font-size: calc(40 / var(--design-w-base) * 100vw);;
  font-weight: 600;
  color: #CEAA35;
  line-height: 1.3;
  margin-bottom: calc(27 / var(--design-w-base) * 100vw);;
}

.fv__txt-third {
  font-weight: 500;
  line-height: 1.6;
}
.fv__btn-content {
  position: absolute;
  width: calc(310 / var(--design-w-base) * 100vw);
  height: calc(310 / var(--design-w-base) * 100vw);
  bottom: calc(147 / var(--design-w-base) * 100vw);
  right: 0;
}
.fv__circle-txt-img {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(310 / var(--design-w-base) * 100vw);
  height: calc(310 / var(--design-w-base) * 100vw);
  animation: rotateCircle 20s linear infinite;
  z-index: 2;
}
.fv__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(249 / var(--design-w-base) * 100vw);
  height: calc(249 / var(--design-w-base) * 100vw);
  background-color: #E3D594;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 4px 8px 4px #CADAE2;
  z-index: 5;
  transition: .3s;
}
.fv__title {
  position: absolute;
  bottom: calc(24 / var(--design-w-base) * 100vw);
  width: 100%;
}

@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 751px) {
  .fv__inner {
    padding: calc(72 / var(--design-w-pc) * 100vw) 0 calc(32 / var(--design-w-pc) * 100vw);
  }
  .fv__logo-content {
    margin-bottom: calc(29 / var(--design-w-pc) * 100vw);
    padding: 0 calc(58 / var(--design-w-pc) * 100vw) 0 calc(42 / var(--design-w-pc) * 100vw);
  }
  .fv__txt-first {
    font-size: calc(36 / var(--design-w-pc) * 100vw);
  }
  .fv__logo {
    width: calc(173 / var(--design-w-pc) * 100vw);
    transition: .3s;
  }
  .fv__logo img {
    vertical-align: top;
  }
  .fv__txtbox {
    padding-left: calc(42 / var(--design-w-pc) * 100vw);
  }
  .fv__subtitle {
    font-size: calc(64 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(49 / var(--design-w-pc) * 100vw);;
  }
  .fv__txt-second {
    font-size: calc(40 / var(--design-w-pc) * 100vw);;
    margin-bottom: calc(27 / var(--design-w-pc) * 100vw);;
  }
  .fv__btn-content {
    bottom: calc(147 / var(--design-w-pc) * 100vw);
  }
  .fv__btn-content {
    width: calc(310 / var(--design-w-pc) * 100vw);
    height: calc(310 / var(--design-w-pc) * 100vw);
    bottom: calc(147 / var(--design-w-pc) * 100vw);
  }
  .fv__circle-txt-img {
    width: calc(310 / var(--design-w-pc) * 100vw);
    height: calc(310 / var(--design-w-pc) * 100vw);
  }
  .fv__btn {
    width: calc(249 / var(--design-w-pc) * 100vw);
    height: calc(249 / var(--design-w-pc) * 100vw);
  }
  .fv__title {
    bottom: calc(24 / var(--design-w-pc) * 100vw);
  }
  .fv__logo:hover {
    opacity: .7;
  }
  .fv__btn:hover {
    color: #666356;
    background-color: #ECE2B4;
  }
}
/*============================
キャンペーン
============================*/
#campaign {
  padding: calc(40 / var(--design-w-base) * 100vw) 0;
  background-color: var(--color-white);
}
.campaign-img {
  width: calc(730 / var(--design-w-base) * 100%);
  height: 100%;
  margin: 0 auto;
  transition: .3s;
}

@media screen and (min-width: 751px) {
  #campaign {
    padding: calc(40 / var(--design-w-pc) * 100vw) 0;
  }
  .campaign-img:hover {
    opacity: .7;
  }
}
/*============================
ヒストリー
============================*/
#history {
  padding-top: calc(80 / var(--design-w-base) * 100vw);
  background-color: var(--color-light_blue);
}
.history__health-txtbox {
  text-align: center;
  margin-bottom: calc(96 / var(--design-w-base) * 100vw);
}
.history__health-title,
.history__thought-title {
  line-height: 1.2;
  margin-bottom: calc(48 / var(--design-w-base) * 100vw);
}
.history__health-txt {
  font-size: calc(36 / var(--design-w-base) * 100vw);
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: calc(64 / var(--design-w-base) * 100vw);
}
.history__health-subtxt {
  font-size: clamp(1rem, calc(18 / var(--design-w-base) * 100vw), 1.8rem);
  font-weight: 500;
  color: var(--color-black);
  line-height: 1.5;
}
.history__thought-txtbox {
  margin-bottom: calc(64 / var(--design-w-base) * 100vw);
}
.history__thought-title {
  text-align: center;
}
.history__thought-txt {
  font-weight: 500;
  line-height: 1.6;
  width: calc(704 / var(--design-w-base) * 100%);
  margin: 0 auto;
}
.history__under-spaced {
  margin-bottom: calc(51 / var(--design-w-base) * 100vw);
}
.fc__blue {
  color: var(--color-navy);
}
.history__img {
  text-align: right;
  padding-right: calc(24 / var(--design-w-base) * 100vw);
  margin-bottom: calc(80 / var(--design-w-base) * 100vw);
}
.history__img img {
  width: calc(625 / var(--design-w-base) * 100%);
  height: 100%;
}
.history__movie video{
  width: 100%;
  height: 100%;
  margin-bottom: calc(80 / var(--design-w-base) * 100vw);
}
.history__txt {
  font-weight: 500;
  color: var(--color-navy);
  line-height: 1.6;
  text-align: center;
  margin-bottom: calc(32 / var(--design-w-base) * 100vw);
}
.purchase__btn-content {
  background-color: var(--color-white);
}
.history__support-title {
  margin-bottom: calc(48 / var(--design-w-base) * 100vw);
}
.support__img {
  text-align: left;
  padding-left: calc(40 / var(--design-w-base) * 100vw);
  margin-bottom: calc(64 / var(--design-w-base) * 100vw);
}
.support__img img {
  width: calc(625 / var(--design-w-base) * 100%);
  height: 100%;
}
.history__support-txt {
  font-weight: 500;
  line-height: 1.6;
  text-align: right;
  padding-right: calc(40 / var(--design-w-base) * 100vw);
  margin-bottom: calc(88 / var(--design-w-base) * 100vw);
}
.support__under-spaced--first {
  margin-bottom: calc(51 / var(--design-w-base) * 100vw);
}
.support__under-spaced--second {
  margin-bottom: calc(40 / var(--design-w-base) * 100vw);
}
.support__under-spaced--third {
  margin-bottom: calc(48 / var(--design-w-base) * 100vw);
}
.history__support-subtxt {
  font-size: clamp(1rem, calc(16 / var(--design-w-base) * 100vw), 1.6rem);;
  font-weight: 500;
  line-height: 1.5;
}
.history__line-img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 751px) {
  #history {
    padding-top: calc(80 / var(--design-w-pc) * 100vw);
  }
  .history__health-txtbox {
    margin-bottom: calc(96 / var(--design-w-pc) * 100vw);
  }
  .history__health-title,
  .history__thought-title {
    font-size: calc(44 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(48 / var(--design-w-pc) * 100vw);
  }
  .history__health-txt {
    font-size: calc(36 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(64 / var(--design-w-pc) * 100vw);
  }
  .history__health-subtxt {
    font-size: clamp(1rem, calc(18 / var(--design-w-pc) * 100vw), 1.8rem);
  }
  .history__thought-txtbox {
    margin-bottom: calc(64 / var(--design-w-pc) * 100vw);
  }
  .history__under-spaced {
    margin-bottom: calc(51 / var(--design-w-pc) * 100vw);
  }
  .history__img {
    padding-right: calc(24 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(80 / var(--design-w-pc) * 100vw);
  }
  .history__movie video{
    margin-bottom: calc(80 / var(--design-w-pc) * 100vw);
  }
  .history__txt {
    margin-bottom: calc(32 / var(--design-w-pc) * 100vw);
  }
  .history__support-title {
    font-size: calc(44 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(48 / var(--design-w-pc) * 100vw);
  }
  .support__img {
    padding-left: calc(40 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(64 / var(--design-w-pc) * 100vw);
  }
  .history__support-txt {
    padding-right: calc(40 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(88 / var(--design-w-pc) * 100vw);
  }
  .support__under-spaced--first {
    margin-bottom: calc(51 / var(--design-w-pc) * 100vw);
  }
  .support__under-spaced--second {
    margin-bottom: calc(40 / var(--design-w-pc) * 100vw);
  }
  .support__under-spaced--third {
    margin-bottom: calc(48 / var(--design-w-pc) * 100vw);
  }
  .history__support-subtxt {
    font-size: clamp(1rem, calc(16 / var(--design-w-pc) * 100vw), 1.6rem);
  }
}
/*============================
フレーバー
============================*/
#flavor {
  padding: calc(88 / var(--design-w-base) * 100vw) 0;
  background-image: url(../img/gradation-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

}
.flavor__wrapper {
  padding: 0 calc(64 / var(--design-w-base) * 100vw);
}
.flavor__title {
  margin-bottom: calc(32 / var(--design-w-base) * 100vw);
}
.flavor__txt {
  font-size: calc(36 / var(--design-w-base) * 100vw);
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: calc(88 / var(--design-w-base) * 100vw);
  text-align: center;
}
.flavor__left-content {
  text-align: left;
  margin-bottom: calc(160 / var(--design-w-base) * 100vw);
}
.flavor__content-subtitle {
  font-weight: 500;
  line-height: 1.2;
}
.flavor__content-title {
  font-size: calc(96 / var(--design-w-base) * 100vw);
  line-height: 1.2;
  margin-bottom: calc(40 / var(--design-w-base) * 100vw);
}
.flavor__content-img {
  width: 100%;
  height: 100%;
}
.flavor__time-latte,
.flavor__time-mint,
.flavor__time-green-tea,
.flavor__time-pineapple {
  display: inline-block;
  color: var(--color-white);
  padding: .1rem calc(24 / var(--design-w-base) * 100vw) .1rem;
}
.flavor__time-latte {
  background-color: #DBA73F;
}
.flavor__time-mint {
  background-color: #06C770;
}
.flavor__time-green-tea {
  background-color: #03973F;
}
.flavor__time-pineapple {
  background-color: var(--color-navy);
}
.flavor__left-content-txt,
.flavor__right-content-txt {
  font-weight: 500;
  line-height: 1.6;
}

.flavor__left-content-txt,
.flavor__right-content-txt {
  margin-bottom: calc(32 / var(--design-w-base) * 100vw);
}
.flavor__left-content-ingredient,
.flavor__right-content-ingredient {
  font-size: calc(28 / var(--design-w-base) * 100vw);
  font-weight: 400;
  line-height: 1.5;
}
.flavor__right-content {
  text-align: right;
  margin-bottom: calc(160 / var(--design-w-base) * 100vw);
}
.flavor__right-content-second {
  text-align: right;
  margin-bottom: calc(88 / var(--design-w-base) * 100vw);
}
.latte {
  color: #DBA73F;
}
.mint {
  color: #06C770;
}
.green-tea {
  color: #03973F;
}
.pineapple {
  color: #CEAA35;
}
.flavor__left-item,
.flavor__right-item {
  margin-bottom: calc(88 / var(--design-w-base) * 100vw);
}
.flavor__right-item:last-child {
  margin-bottom: 0;
}
.flavor__left-item-title,
.flavor__right-item-title {
  font-size: calc(40 / var(--design-w-base) * 100vw);
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: calc(32 / var(--design-w-base) * 100vw);
}
.flavor__left-item-title {
  text-align: left;
}
.flavor__right-item-title {
  text-align: right;
}
.muscat {
  padding-left: calc(120 / var(--design-w-base) * 100vw);
}
.cola,
.melon {
  padding-left: calc(160 / var(--design-w-base) * 100vw);
}
.flavor__left-itembox,
.flavor__right-itembox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(32 / var(--design-w-base) * 100vw);
  margin-bottom: calc(16 / var(--design-w-base) * 100vw);
}
.flavor__left-item-img,
.flavor__right-item-img {
  width: 100%;
  height: 100%;
}
.flavor__left-item-txt,
.flavor__right-item-txt {
  font-weight: 500;
  line-height: 1.5;
  white-space: nowrap;
  text-align: center;
}
.flavor__item-ingredient {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
.mango {
  padding-right: calc(140 / var(--design-w-base) * 100vw);
}
.watermelon {
  padding-right: calc(90 / var(--design-w-base) * 100vw);
}
.jasmine {
  padding-right: calc(110 / var(--design-w-base) * 100vw);
}

@media screen and (min-width: 751px) {
  #flavor {
    padding: calc(88 / var(--design-w-pc) * 100vw) 0;

  }
  .flavor__wrapper {
    padding: 0 calc(64 / var(--design-w-pc) * 100vw);
  }
  .flavor__title {
    margin-bottom: calc(32 / var(--design-w-pc) * 100vw);
  }
  .flavor__txt {
    font-size: calc(36 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(88 / var(--design-w-pc) * 100vw);
  }
  .flavor__left-content {
    margin-bottom: calc(160 / var(--design-w-pc) * 100vw);
  }
  .flavor__content-title {
    font-size: calc(96 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(40 / var(--design-w-pc) * 100vw);
  }
  .flavor__time-latte,
  .flavor__time-mint,
  .flavor__time-green-tea,
  .flavor__time-pineapple {
    padding: .1rem calc(24 / var(--design-w-pc) * 100vw) .1rem;
  }
  .flavor__left-content-txt,
  .flavor__right-content-txt {
    margin-bottom: calc(32 / var(--design-w-pc) * 100vw);
  }
  .flavor__left-content-ingredient,
  .flavor__right-content-ingredient {
    font-size: calc(28 / var(--design-w-pc) * 100vw);
  }
  .flavor__right-content {
    margin-bottom: calc(160 / var(--design-w-pc) * 100vw);
  }
  .flavor__right-content-second {
    margin-bottom: calc(88 / var(--design-w-pc) * 100vw);
  }
  .flavor__left-item,
  .flavor__right-item {
    margin-bottom: calc(88 / var(--design-w-pc) * 100vw);
  }
  .flavor__left-item-title,
  .flavor__right-item-title {
    font-size: calc(40 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(32 / var(--design-w-pc) * 100vw);
  }
  .muscat {
    padding-left: calc(120 / var(--design-w-pc) * 100vw);
  }
  .cola,
  .melon {
    padding-left: calc(160 / var(--design-w-pc) * 100vw);
  }
  .flavor__left-itembox,
  .flavor__right-itembox {
    gap: calc(32 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(16 / var(--design-w-pc) * 100vw);
  }
  .mango {
    padding-right: calc(140 / var(--design-w-pc) * 100vw);
  }
  .watermelon {
    padding-right: calc(90 / var(--design-w-pc) * 100vw);
  }
  .jasmine {
    padding-right: calc(110 / var(--design-w-pc) * 100vw);
  }
}
/*============================
デバイス
============================*/
#device {
  background-color: var(--color-white);
}
.device__title {
  margin-bottom: calc(16 / var(--design-w-base) * 100vw);
}
.device__subtitle {
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  margin-bottom: calc(48 / var(--design-w-base) * 100vw);
}
.device__item {
  display: flex;
  align-items: center;
  font-weight: 500;
}
.navy-item {
  padding-left: calc(88 / var(--design-w-base) * 100vw);
}
.device__navy-img {
  width: calc(303 / var(--design-w-base) * 100%);
  height: 100%;
}
.pink-item {
  justify-content: flex-end;
  padding-right: calc(112 / var(--design-w-base) * 100vw);
  margin-bottom: calc(27 / var(--design-w-base) * 100vw);
}
.device__pink-img {
  width: calc(328 / var(--design-w-base) * 100%);
  height: 100%;
}
.gold-item {
  padding-left: calc(76 / var(--design-w-base) * 100vw);
  margin-bottom: calc(-18 / var(--design-w-base) * 100vw);
}
.device__gold-img {
  width: calc(299 / var(--design-w-base) * 100%);
  height: 100%;
}
.white-item {
  justify-content: flex-end;
  padding-right: calc(91 / var(--design-w-base) * 100vw);
  margin-bottom: calc(50 / var(--design-w-base) * 100vw);
}
.device__white-img {
  width: calc(296 / var(--design-w-base) * 100%);
  height: 100%;
}
.black-item {
  padding-left: calc(88 / var(--design-w-base) * 100vw);
}
.device__black-img {
  width: calc(289 / var(--design-w-base) * 100%);
  height: 100%;
}
.device__txt {
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
}

@media screen and (min-width: 751px) {
  .device__title {
    margin-bottom: calc(16 / var(--design-w-pc) * 100vw);
  }
  .device__subtitle {
    margin-bottom: calc(48 / var(--design-w-pc) * 100vw);
  }
  .navy-item {
    padding-left: calc(88 / var(--design-w-pc) * 100vw);
  }
  .pink-item {
    padding-right: calc(112 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(27 / var(--design-w-pc) * 100vw);
  }
  .gold-item {
    padding-left: calc(76 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(-18 / var(--design-w-pc) * 100vw);
  }
  .white-item {
    padding-right: calc(91 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(50 / var(--design-w-pc) * 100vw);
  }
  .black-item {
    padding-left: calc(88 / var(--design-w-pc) * 100vw);
  }
}
/*============================
メッシュコイル
============================*/
#mesh-coil {
  padding: calc(88 / var(--design-w-base) * 100vw) 0;
  background-color: #F8F5EB;
}
.mesh-coil__inner {
  padding: 0 calc(40 / var(--design-w-base) * 100vw);
}
.mesh-coil__txtbox {
  font-weight: 500;
  line-height: 1.6;
  text-align: left;
  margin-bottom: calc(32 / var(--design-w-base) * 100vw);
}
.mesh-coil__txt-under-spaced {
  margin-bottom: calc(51 / var(--design-w-base) * 100vw);
}
.mesh-coil__coil-img {
  width: calc(673 / var(--design-w-base) * 100%);
  margin-bottom: calc(48 / var(--design-w-base) * 100vw);
}
.mesh-coil__analysis-img {
  width: calc(609 / var(--design-w-base) * 100%);
  margin: 0 auto;
}

@media screen and (min-width: 751px) {
  #mesh-coil {
    padding: calc(88 / var(--design-w-pc) * 100vw) 0;
  }
  .mesh-coil__inner {
    padding: 0 calc(40 / var(--design-w-pc) * 100vw);
  }
  .mesh-coil__txtbox {
    margin-bottom: calc(32 / var(--design-w-pc) * 100vw);
  }
  .mesh-coil__txt-under-spaced {
    margin-bottom: calc(51 / var(--design-w-pc) * 100vw);
  }
  .mesh-coil__coil-img {
    margin-bottom: calc(48 / var(--design-w-pc) * 100vw);
  }
}
/*============================
製品使用
============================*/
#product {
  padding: calc(48 / var(--design-w-base) * 100vw) 0 calc(48 / var(--design-w-base) * 100vw);
  background-color: #F4FEFF;
}
#product__splide .splide__pagination {
  display: flex;
  gap: calc(16 / var(--design-w-base) * 100vw);
  justify-content: center;
}
#product__splide .splide__pagination li {
  list-style: none;
}
#product__splide .splide__pagination .splide__pagination__page {
  width: calc(26 / var(--design-w-base) * 100vw);
  height: calc(26 / var(--design-w-base) * 100vw);
  border-radius: 50%;
  opacity: 0.6;
  transform: scale(1);
  transition: transform .3s ease, opacity .3s ease;
}
#product__splide .splide__pagination .is-active {
  transform: scale(1.2);
  opacity: 1;
}
/* Navy Blue */
#product__splide .splide__pagination li:nth-child(1) button {
  background-color: var(--color-navy);
}

/* Pearl Pink */
#product__splide .splide__pagination li:nth-child(2) button {
  background-color: var(--color-pink);
}

/* Gold */
#product__splide .splide__pagination li:nth-child(3) button {
  background-color: var(--color-gold);
}

/* Pearl White */
#product__splide .splide__pagination li:nth-child(4) button {
  background-color: var(--color-white);
  border: 1px solid #9D9B9B;
}

/* Matt Black */
#product__splide .splide__pagination li:nth-child(5) button {
  background-color: var(--color-black);
}
.product__color-name {
  font-size: calc(40 / var(--design-w-base) * 100vw);
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: calc(-40 / var(--design-w-base) * 100vw);
}
.product__device-img {
  width: calc(543 / var(--design-w-base) * 100%);
  height: 100%;
  margin: 0 auto;
}
.product__navy {
  color: var(--color-navy);
}
.product__pink {
  color: var(--color-pink);
}
.product__gold {
  color: #BD9E85;
}
.product__white {
  color: var(--color-white);
  text-shadow: 2px 2px 1px rgba(157, 155, 155, .77);
}
.product__title {
  font-size: calc(40 / var(--design-w-base) * 100vw);
  font-weight: 500;
  color: var(--color-navy);
  line-height: 1.2;
  margin-bottom: calc(37 / var(--design-w-base) * 100vw);
  text-align: right;
  padding-right: calc(67 / var(--design-w-base) * 100vw);
}
.product__txt {
  font-weight: 500;
  line-height: 1.6;
  text-align: right;
  padding-right: calc(64 / var(--design-w-base) * 100vw);
}

@media screen and (min-width: 751px) {
  #product {
    padding: calc(48 / var(--design-w-pc) * 100vw) 0 calc(48 / var(--design-w-pc) * 100vw);
  }
  #product__splide .splide__pagination {
    gap: calc(16 / var(--design-w-pc) * 100vw);
  }
  #product__splide .splide__pagination .splide__pagination__page {
    width: calc(26 / var(--design-w-pc) * 100vw);
    height: calc(26 / var(--design-w-pc) * 100vw);
  }
  .product__color-name {
    font-size: calc(40 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(-40 / var(--design-w-pc) * 100vw);
  }
  .product__title {
    font-size: calc(40 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(37 / var(--design-w-pc) * 100vw);
    padding-right: calc(67 / var(--design-w-pc) * 100vw);
  }
  .product__txt {
    padding-right: calc(64 / var(--design-w-pc) * 100vw);
  }
}
/*============================
#starter
============================*/
#starter {
  padding: calc(98 / var(--design-w-base) * 100vw) 0 calc(80 / var(--design-w-base) * 100vw);
  background-color: #FFFCF6;
}
.starter__title {
  line-height: 1.2;
  margin-bottom: calc(24 / var(--design-w-base) * 100vw);
}
.starter__first-tag {
  width: calc(167 / var(--design-w-base) * 100%);
  margin: 0 auto calc(24 / var(--design-w-base) * 100vw);
}
.gold__tag {
  background-color: var(--color-gold);
  font-size: calc(30 / var(--design-w-base) * 100vw);
  font-weight: 500;
  line-height: 1.5;
  padding: calc(9 / var(--design-w-base) * 100vw) 0 calc(8 / var(--design-w-base) * 100vw);
  text-align: center;
}
.starter__txtbox {
  width: calc(662 / var(--design-w-base) * 100%);
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: .05em;
  text-align: left;
  margin: 0 auto calc(44 / var(--design-w-base) * 100vw);
}
.starter__txt-under-spaced {
  margin-bottom: calc(51 / var(--design-w-base) * 100vw);
}
.starter__row-tag-content {
  display: flex;
  justify-content: center;
  gap: calc(16 / var(--design-w-base) * 100vw);
  margin-bottom: calc(48 / var(--design-w-base) * 100vw);
}
.starter__second-tag {
  width: calc(322 / var(--design-w-base) * 100%);
}
.blue__tag {
  background-color: var(--color-navy);
  font-size: calc(34 / var(--design-w-base) * 100vw);
  font-weight: 500;
  color: var(--color-white);
  line-height: 1.5;
  padding: calc(5 / var(--design-w-base) * 100vw) 0;
  text-align: center;
}
.starter__device-img {
  width: calc(497 / var(--design-w-base) * 100%);
  height: 100%;
  margin: 0 auto calc(31 / var(--design-w-base) * 100vw);
}
.starter__set-txtbox {
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin-bottom: calc(32 / var(--design-w-base) * 100vw);
}
.starter__blue-txt {
  font-size: calc(40 / var(--design-w-base) * 100vw);
  color: var(--color-navy);
}
.starter__black-txt {
    font-size: calc(48 / var(--design-w-base) * 100vw);
}
.starter__flavor-img {
  width: calc(719 / var(--design-w-base) * 100%);
  height: 100%;
  padding-left: calc(39 / var(--design-w-base) * 100vw);
  margin-bottom: calc(26 / var(--design-w-base) * 100vw);
}
.starter__txt-img {
  width:calc(645 / var(--design-w-base) * 100%);
  height: 100%;
  margin: 0 auto calc(24 / var(--design-w-base) * 100vw);
}
.starter__btn-img {
  display: block;
  width: calc(714 / var(--design-w-base) * 100%);
  height: 100%;
  margin: 0 auto;
  transition: .3s ease;
}
@media screen and (min-width: 751px) {
  #starter {
    padding: calc(98 / var(--design-w-pc) * 100vw) 0 calc(80 / var(--design-w-pc) * 100vw);
  }
  .starter__title {
    font-size: calc(44 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(24 / var(--design-w-pc) * 100vw);
  }
  .starter__first-tag {
    margin: 0 auto calc(24 / var(--design-w-pc) * 100vw);
  }
  .gold__tag {
    font-size: calc(30 / var(--design-w-pc) * 100vw);
    padding: calc(9 / var(--design-w-pc) * 100vw) 0 calc(8 / var(--design-w-pc) * 100vw);
  }
  .starter__txtbox {
    margin: 0 auto calc(44 / var(--design-w-pc) * 100vw);
  }
  .starter__txt-under-spaced {
    margin-bottom: calc(51 / var(--design-w-pc) * 100vw);
  }
  .starter__row-tag-content {
    gap: calc(16 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(48 / var(--design-w-pc) * 100vw);
  }
  .blue__tag {
    font-size: calc(34 / var(--design-w-pc) * 100vw);
    padding: calc(5 / var(--design-w-pc) * 100vw) 0;
  }
  .starter__device-img {
    margin: 0 auto calc(31 / var(--design-w-pc) * 100vw);
  }
  .starter__set-txtbox {
    margin-bottom: calc(32 / var(--design-w-pc) * 100vw);
  }
  .starter__blue-txt {
    font-size: calc(40 / var(--design-w-pc) * 100vw);
  }
  .starter__black-txt {
    font-size: calc(48 / var(--design-w-pc) * 100vw);
  }
  .starter__flavor-img {
    padding-left: calc(39 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(26 / var(--design-w-pc) * 100vw);
  }
  .starter__txt-img {
    margin: 0 auto calc(24 / var(--design-w-pc) * 100vw);
  }
  .starter__btn-img:hover {
    opacity: .7;
  }
}
/*============================
歩み
============================*/
#step {
  padding: calc(88 / var(--design-w-base) * 100vw) 0 calc(152 / var(--design-w-base) * 100vw);
  background: url("../img/step_bg-img.png") bottom center / cover no-repeat;
  background-color: var(--color-white);
}
.step__title {
  margin-bottom: calc(56 / var(--design-w-base) * 100vw);
}
.step__txtbox {
  width: calc(680 / var(--design-w-base) * 100%);
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto calc(51 / var(--design-w-base) * 100vw);
}
.step__txt-under-spaced {
  margin-bottom: calc(51 / var(--design-w-base) * 100vw);
}
.blue__txt {
  font-weight: bold;
  color: var(--color-navy);
}
.step__main-txt {
  font-size: calc(40 / var(--design-w-base) * 100vw);
  font-weight: 500;
  color: var(--color-navy);
  line-height: 1.6;
  text-align: center;
}

@media screen and (min-width: 751px) {
  #step {
    padding: calc(88 / var(--design-w-pc) * 100vw) 0 calc(152 / var(--design-w-pc) * 100vw);
  }
  .step__title {
    margin-bottom: calc(56 / var(--design-w-pc) * 100vw);
  }
  .step__txtbox {
    margin: 0 auto calc(51 / var(--design-w-pc) * 100vw);
  }
  .step__txt-under-spaced {
    margin-bottom: calc(51 / var(--design-w-pc) * 100vw);
  }
  .step__main-txt {
    font-size: calc(40 / var(--design-w-pc) * 100vw);
  }
}
/*============================
メディア
============================*/
#media {
  padding: calc(32 / var(--design-w-base) * 100vw) 0 calc(38 / var(--design-w-base) * 100vw);
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: var(--color-white);
}
.media__title {
  margin-bottom: calc(48 / var(--design-w-base) * 100vw);
}
.media__book-img {
  width: calc(307 / var(--design-w-base) * 100%);
  height: 100%;
  margin-bottom: calc(32 / var(--design-w-base) * 100vw);
}
.media__txtbox {
  font-size: calc(20 / var(--design-w-base) * 100vw);
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 751px) {
  #media {
    padding: calc(32 / var(--design-w-pc) * 100vw) 0 calc(38 / var(--design-w-pc) * 100vw);
  }
  .media__title {
    margin-bottom: calc(48 / var(--design-w-pc) * 100vw);
  }
  .media__book-img {
    margin-bottom: calc(32 / var(--design-w-pc) * 100vw);
  }
  .media__txtbox {
    font-size: calc(20 / var(--design-w-pc) * 100vw);
  }
}
/*============================
ミストの画像
============================*/
.mist-img__content {
  width: 100%;
  height: 100%;
}
/*============================
お客様の声
============================*/
#user-voice {
  position: relative;
  padding: calc(88 / var(--design-w-base) * 100vw) 0;
  background: url("../img/user-voice-bg.jpg") bottom center / cover no-repeat;
}
.user-voice__title {
  margin-bottom: calc(48 / var(--design-w-base) * 100vw);
}
.user-voice__inner {
  padding: 0 calc(37 / var(--design-w-base) * 100%);
}
.user-voice__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: calc(48 / var(--design-w-base) * 100vw);
}
.user-voice__blue-item,
.user-voice__gold-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: calc(56 / var(--design-w-base) * 100vw) 0;
  box-shadow: 0 4px 8px #C8D8C8;
}
.user-voice__blue-item {
  background-color: #F4FEFF;
}
.user-voice__gold-item {
  background-color: #FFFCF6;
}
.user-voice__img {
  width: calc(200 / 676 * 100%);
  height: 100%;
  margin-bottom: calc(24 / var(--design-w-base) * 100vw);
}
.user-voice__blue-title,
.user-voice__gold-title {
  font-size: calc(36 / var(--design-w-base) * 100vw);
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: calc(24 / var(--design-w-base) * 100vw);
}
.user-voice__blue-title {
  color: var(--color-navy);
}
.user-voice__gold-title {
  color: #DBA73F;
}
.user-voice__profile-txt {
  line-height: 1.5;
  margin-bottom: calc(13 / var(--design-w-base) * 100vw);
}
.user-voice__item-txt {
  width: calc(548 / 676 * 100%);
  line-height: 1.6;
  padding-top: calc(16 / var(--design-w-base) * 100vw);
  letter-spacing: .05em;
}
.blue__dotted-line {
  border-top: 2px dashed #1D4984;
}
.gold__dotted-line {
  border-top: 2px dashed #DBA73F;
}

@media screen and (min-width: 751px) {
  #user-voice {
    padding: calc(88 / var(--design-w-pc) * 100vw) 0;
  }
  .user-voice__title {
    margin-bottom: calc(48 / var(--design-w-pc) * 100vw);
  }
  .user-voice__inner {
    padding: 0 calc(37 / var(--design-w-pc) * 100vw);
  }
  .user-voice__content {
    gap: calc(48 / var(--design-w-pc) * 100vw);
  }
  .user-voice__blue-item,
  .user-voice__gold-item {
    padding: calc(56 / var(--design-w-pc) * 100vw) 0;
  }
  .user-voice__img {
    margin-bottom: calc(24 / var(--design-w-pc) * 100vw);
  }
  .user-voice__blue-title,
  .user-voice__gold-title {
    font-size: calc(36 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(24 / var(--design-w-pc) * 100vw);
  }
  .user-voice__profile-txt {
    margin-bottom: calc(13 / var(--design-w-pc) * 100vw);
  }
  .user-voice__item-txt {
    padding-top: calc(16 / var(--design-w-pc) * 100vw);
  }
}
/*============================
よくある質問
============================*/
#faq {
  padding: calc(84 / var(--design-w-base) * 100vw) 0;
  background-color: var(--color-white);
}
.faq__btn {
  display: block;
  font-size: calc(24 / var(--design-w-base) * 100vw);
  font-weight: bold;
  line-height: 1.2;
  width: calc(305 / var(--design-w-base) * 100%);
  padding: calc(8 / var(--design-w-base) * 100vw) 0;
  background-color: var(--color-navy);
  color: var(--color-white);
  margin: 0 auto;
  text-align: center;
  transition: .3s;
}

@media screen and (min-width: 751px) {
  #faq {
    padding: calc(84 / var(--design-w-pc) * 100vw) 0;
  }
  .faq__btn {
    font-size: calc(24 / var(--design-w-pc) * 100vw);
    padding: calc(8 / var(--design-w-pc) * 100vw) 0;
  }
  .faq__btn:hover {
    opacity: .7;
  }
}
/*============================
フッター
============================*/
.footer {
  background-color: var(--color-white);
}
.footer__content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.footer__main-txt {
  font-size: calc(36 / var(--design-w-base) * 100vw);
  font-weight: 400;
  color: var(--color-navy);
  line-height: 1.25;
  text-align: center;
  margin-bottom: calc(64 / var(--design-w-base) * 100vw);
}
.footer__full-width-img {
  width: 100%;
  height: 100%;
  margin-bottom: calc(64 / var(--design-w-base) * 100vw);
}
.footer__campaign {
  margin-bottom: calc(64 / var(--design-w-base) * 100vw);
}
.footer__cta-box {
  display: flex;
  flex-flow: column;
  gap: calc(40 / var(--design-w-base) * 100vw);
  text-align: center;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: calc(40 / var(--design-w-base) * 100vw);
}
.footer__txt-top {
  font-size: calc(36 / var(--design-w-base) * 100vw);
}
.footer__txt-bottom {
  font-size: calc(32 / var(--design-w-base) * 100vw);
}
.footer__rule-content {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: calc(24 / var(--design-w-base) * 100vw);
  background-color: var(--color-navy);
  padding: calc(48 / var(--design-w-base) * 100vw) 0 calc(34 / var(--design-w-base) * 100vw);
  font-size: calc(24 / var(--design-w-base) * 100vw);
  font-weight: 500;
  line-height: 1.2;
}
.footer__rule {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: calc(38 / var(--design-w-base) * 100%);
  
}
.footer__privacy,
.footer__agreement,
.footer__copyright {
  color: var(--color-white);
}

@media screen and (min-width: 751px) {
  .footer__main-txt {
    font-size: calc(36 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(64 / var(--design-w-pc) * 100vw);
  }
  .footer__full-width-img {
    margin-bottom: calc(64 / var(--design-w-pc) * 100vw);
  }
  .footer__campaign {
    margin-bottom: calc(64 / var(--design-w-pc) * 100vw);
  }
  .footer__cta-box {
    gap: calc(40 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(40 / var(--design-w-pc) * 100vw);
  }
  .footer__txt-top {
    font-size: calc(36 / var(--design-w-pc) * 100vw);
  }
  .footer__txt-bottom {
    font-size: calc(32 / var(--design-w-pc) * 100vw);
  }
  .footer__rule-content {
    gap: calc(24 / var(--design-w-pc) * 100vw);
    padding: calc(48 / var(--design-w-pc) * 100vw) 0 calc(34 / var(--design-w-pc) * 100vw);
    font-size: calc(24 / var(--design-w-pc) * 100vw);
  }
  .footer__rule {
    gap: calc(38 / var(--design-w-pc) * 100vw);
  }
}

/*============================
お問い合わせページ
============================*/
#faq__pages {
  padding: calc(48 / var(--design-w-base) * 100vw) 0 calc(64 / var(--design-w-base) * 100vw);
  background-color: var(--color-white);
}
.faq__logo {
  display: block;
  width: calc(173 / var(--design-w-base) * 100%);
  margin: 0 calc(58 / var(--design-w-base) * 100vw) calc(52 / var(--design-w-base) * 100vw) auto;
}
.faq__title {
  margin-bottom: calc(48 / var(--design-w-base) * 100vw);
}
.faq__inner {
  padding: 0 calc(49 / var(--design-w-base) * 100vw);
}
.faq__list-title {
  font-size: calc(40 / var(--design-w-base) * 100vw);
  font-weight: 500;
  color: var(--color-navy);
  line-height: 1.5;
  margin: 0 0 calc(32 / var(--design-w-base) * 100vw) calc(4 / var(--design-w-base) * 100vw);
}
.faq__accordion {
  display: flex;
  flex-flow: column;
  gap: calc(48 / var(--design-w-base) * 100vw);
  margin-bottom: calc(64 / var(--design-w-base) * 100vw);
}
.faq__accordion-titlebox {
  position: relative;
  width: 100%;
  background-color: #F4FEFF;
  cursor: pointer;
}
.faq__accordion-titlebox::before,
.faq__accordion-titlebox::after {
  position: absolute;
  content:'';
  width: calc(26 / var(--design-w-base) * 100vw);
  height: 2px;
  background-color: var(--color-navy);
}
.faq__accordion-titlebox::before {
  top:48%;
  right: calc(36 / var(--design-w-base) * 100vw);
  transform: rotate(0deg);
}
.faq__accordion-titlebox::after {
  top:48%;
  right: calc(36 / var(--design-w-base) * 100vw);
  transform: rotate(90deg);
  transition: .3s;
}
.faq__accordion-titlebox.close::before,
.faq__accordion-titlebox.close::after {
  transform: rotate(0deg);
}
.faq__accordion-title {
  width: calc(567 / 652 * 100%);
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(24 / var(--design-w-base) * 100vw);
  font-size: calc(36 / var(--design-w-base) * 100vw);
  font-weight: bold;
  color: var(--color-black);
  line-height: 1.5;
  text-align: left;
  padding-left: calc(60 / 678 * 100%);
  flex-shrink: 0;
}
.faq__accordion-title::before {
  content: "Q";
  position: absolute;
  left: calc(6 / var(--design-w-base) * 100vw);
  font-size: 1em;
  font-weight: bold;
  color: var(--color-navy);
}
.faq__accordion-txtbox {
  width: calc(527 / 652 * 100%);
  margin-top: calc(16 / var(--design-w-base) * 100vw);
  margin-left: calc(56 / 652 * 100%);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.5s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.5s ease,
    padding 0.5s ease;
}
.faq__accordion-txtbox.open {
  max-height: calc(400 / var(--design-w-base) * 100vw);
  opacity: 1;
}
.faq__accordion-txt {
  line-height: 1.6;
  letter-spacing: .05em;
  text-align: left;
}

@media screen and (min-width: 751px) {
  #faq__pages {
    padding: calc(48 / var(--design-w-pc) * 100vw) 0 calc(64 / var(--design-w-pc) * 100vw);
  }
  .faq__logo {
    margin: 0 calc(58 / var(--design-w-pc) * 100vw) calc(52 / var(--design-w-pc) * 100vw) auto;
    transition: .3s;
  }
  .faq__title {
    margin-bottom: calc(48 / var(--design-w-pc) * 100vw);
  }
  .faq__inner {
    padding: 0 calc(49 / var(--design-w-pc) * 100vw);
  }
  .faq__list-title {
    font-size: calc(40 / var(--design-w-pc) * 100vw);
    margin: 0 0 calc(32 / var(--design-w-pc) * 100vw) calc(4 / var(--design-w-pc) * 100vw);
  }
  .faq__accordion {
    gap: calc(48 / var(--design-w-pc) * 100vw);
    margin-bottom: calc(64 / var(--design-w-pc) * 100vw);
  }
  .faq__accordion-titlebox::before,
  .faq__accordion-titlebox::after {
    width: calc(26 / var(--design-w-pc) * 100vw);
    height: 4px;
  }
  .faq__accordion-titlebox::before {
    right: calc(36 / var(--design-w-pc) * 100vw);
  }
  .faq__accordion-titlebox::after {
    right: calc(36 / var(--design-w-pc) * 100vw);
  }
  .faq__accordion-title {
    width: calc(567 / 652 * 100%);
    gap: calc(24 / var(--design-w-pc) * 100vw);
    font-size: calc(36 / var(--design-w-pc) * 100vw);
    padding-left: calc(60 / 678 * 100%);
  }
  .faq__accordion-title::before {
    left: calc(6 / var(--design-w-pc) * 100vw);
  }
  .faq__accordion-txtbox {
    margin-top: calc(16 / var(--design-w-pc) * 100vw);
  }
  .faq__accordion-txtbox.open {
    max-height: calc(400 / var(--design-w-pc) * 100vw);
  }
  .faq__logo:hover {
    opacity: .7;
  }
}
