/*============================
全体
============================*/
html {
  font-size: 62.5%;
}
body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 3.2rem;
  color: #2D2D2D;
  letter-spacing: 0;
}
main {
  
}
a {
  color: #2D2D2D;
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}
li {
  list-style: none;
}
.gfs-dido {
  font-family: "GFS Didot", serif;
  font-weight: 400;
  font-style: normal;
}
.serif {
  font-family: "Noto Serif JP", serif;
}
/*============================
レイアウト
============================*/
.fv__container {
  top: 0;
	left: 0;
	width: 100%;
}
.fv__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  
}
.fv__pc-left-content {
  position: relative;
  top: 14vh;
  left: calc(140 / 1920 * 100%);
}
.fv__pc-logo {
  width: calc(133 / 1920 * 100%);
  margin-bottom: 2.2rem;
}
.fv__pc-txt {
  writing-mode: vertical-rl;
  font-size: 3.2rem;
  font-weight: 500;
  line-height: 1.2;
  margin-left: 4.3rem;
  margin-bottom: 6rem;
}
.fv__pc-btn {
  display: block;
  width: 25.4rem;
  font-size: 2.4rem;
  margin-left: -6rem;
  padding: 2.4rem 0;
  background-color: #1D4984;
  color: #ffffff;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
}
.fv__logo-fixed {
  position: fixed;
  z-index: -10;
  top: 30vh;
}
.fv__fixed-img {
  width: calc(972 / 1920 * 100%);
}
.gradation__container {
  background-image: url("../img/main-gradation-bg.jpg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
}
.gradation__bg-content {

}
.gradation__content-img {
  width: 46rem;
  height: 100%;
}
.gradation__txt-img {
  width: 45.7rem;
  height: 100%;
}
.lp__container {
  width: 100%;
  margin: 0 auto;
}
.lp__content-top,
.lp__content-bottom {
  position: relative;
  width: 100%;
  min-width: 750px;
  margin: 0 auto;
  overflow: hidden;
  
}
.lp__content-top {
  box-shadow: 0 -5px 15px 4px rgba(135, 148, 150, .6);
}
.lp__content-bottom {
  box-shadow: 0 5px 15px 4px rgba(135, 148, 150, .6);
}
@media (min-width: 751px) {
  .lp__content-top,
  .lp__content-bottom {
    width: 100%;
    max-width: 75rem;
    margin: 0 auto;
  }
}

/*============================
共通
============================*/
.section__title {
  font-size: 4.4rem;
  font-weight: 500;
  color: #1D4984;
  line-height: 1.4;
  text-align: center;
}
/*============================
ファーストビュー
============================*/
#fv {
  position: relative;
  width: 100%;
  aspect-ratio: 750 / 1485;
  background: url("../img/fv-img.jpg") top center / contain no-repeat;
}
.fv__inner {
  position: absolute;
  inset: 0;
  padding: 7.2rem 0 3.2rem;
}
.fv__logo-content {
  display:flex;
  justify-content: space-between;
  margin-bottom: 2.9rem;
  padding: 0 5.8rem 0 4.2rem;
}
.fv__txt-first {
  font-size: 3.6rem;
  font-weight: 500;
  color: #1D4984;
  line-height: 1.6;
}
.fv__logo {
  width: calc(173 / 750 * 100%);
}
.fv__txtbox {
  padding-left: calc(42 / 750 * 100%);
}
.fv__subtitle {
  font-size: 6.4rem;
  font-weight: bold;
  color: #1D4984;
  line-height: 1.4;
  margin-bottom: 4.9rem;
}
.fv__txt-second {
  font-size: 4rem;
  font-weight: 600;
  color: #CEAA35;
  line-height: 1.3;
  margin-bottom: 2.7rem;
}

.fv__txt-third {
  font-weight: 500;
  line-height: 1.6;
}
.fv__btn-content {
  position: absolute;
  bottom: 14.7rem;
  right: 0;
}
.fv__btn {
  width: 32rem;
  height: 32rem;
}
/* .fv__rotate-txt {
  width: 27.1rem;
  height: 27.1rem;
}
.fv__btn {
  width: 24.9rem;
  height: 24.9rem;
  background-color: #E3D594;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 500;
  box-shadow: 0 4px 8px 4px #CADAE2;
} */

.fv__title {
  position: absolute;
  bottom: 2.4rem;
  width: 100%;
}
/*============================
キャンペーン
============================*/
#campaign {
  padding: 4rem 0;
  background-color: #ffffff;
}
.campaign-img {
  width: calc(730 / 750 * 100%);
  height: 100%;
  margin: 0 auto;
}

/*============================
ヒストリー
============================*/
#history {
  padding-top: 8rem;
  background-color: #EDFDFF;
}
.history__health-txtbox {
  text-align: center;
  margin-bottom: 9.6rem;
}
.history__health-title,
.history__thought-title {
  font-size: 4.4rem;
  font-weight: bold;
  color: #1D4984;
  line-height: 1.2;
  margin-bottom: 4.8rem;
}
.history__health-txt {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 6.4rem;
}
.history__health-subtxt {
  font-size: 1.8rem;
  font-weight: 500;
  color: #5D5D5D;
  line-height: 1.5;
}
.history__thought-txtbox {
  margin-bottom: 6.4rem;
}
.history__thought-title {
  text-align: center;
}
.history__thought-txt {
  font-weight: 500;
  line-height: 1.6;
  width: calc(704 / 750 * 100%);
  margin: 0 auto;
}
.history__under-spaced {
  margin-bottom: 5.1rem;
}
.fc__blue {
  color: #1D4984;
}
.history__img {
  text-align: right;
  padding-right: calc(24 / 750 * 100%);
  margin-bottom: 3.7rem;
}
.history__img img {
  width: calc(625 / 750 * 100%);
  height: 100%;
}
.history__movie video{
  width: 100%;
  max-width: 75rem;
  height: 100%;
  margin-bottom: 8rem;
}
.history__txt {
  font-weight: 500;
  color: #1D4984;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 3.2rem;
}
.purchase__btn-content {
  background-color: #ffffff;
}
.purchase__btn {
  position: relative;
  display: block;
  width: calc(578 / 750 * 100%);
  padding: 3.4rem 0 3.2rem;
  margin: 0 auto 8.1rem;
  background-color: #06C755; /* 背景色 */
  box-shadow: 4px 7px 0 #03973F; /* 影の太さ・色 */
  border-radius: 999px;
  color: #fff;
  font-size: 4.8rem;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.purchase__btn::before,
.purchase__btn::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-radius: 2px;
  right: 6.1rem;
	width: 2.9rem;
	height: 4px;
  background-color: #ffffff;
}
.purchase__btn::before {
  top: calc(50% - 11px);
  transform: rotate(45deg);
}
.purchase__btn::after {
  bottom: calc(50% - 11px);
  transform: rotate(-45deg);
}
.history__support-title {
  font-size: 4.4rem;
  font-weight: bold;
  color: #1D4984;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 4.8rem;
}
.support__img {
  text-align: left;
  padding-left: calc(40 / 750 * 100%);
  margin-bottom: 6.4rem;
}
.support__img img {
  width: calc(625 / 750 * 100%);
  height: 100%;
}
.history__support-txt {
  font-weight: 500;
  line-height: 1.6;
  text-align: right;
  padding-right: calc(40 / 750 * 100%);
  margin-bottom: 8.8rem;
}
.support__under-spaced--first {
  margin-bottom: 5.1rem;
}
.support__under-spaced--second {
  margin-bottom: 4.0rem;
}
.support__under-spaced--third {
  margin-bottom: 4.8rem;
}
.history__support-subtxt {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}
.history__line-img {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 751px) {
  .purchase__btn:hover {
    transform: translateY(7px);
    box-shadow: 0 0 0 #03973F;
  }
}
/*============================
フレーバー
============================*/
#flavor {
  padding: 8.8rem 0;
  background-image: url(../img/gradation-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;

}
.flavor__wrapper {
  padding: 0 calc(64 / 750 * 100%);
}
.flavor__title {
  font-size: 4.4rem;
  font-weight: 600;
  color: #1D4984;
  line-height: 1.4;
  margin-bottom: 3.2rem;
  text-align: center;
}
.flavor__txt {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 8.8rem;
  text-align: center;
}
.flavor__left-content {
  text-align: left;
  margin-bottom: 16rem;
}
.flavor__content-subtitle {
  font-weight: 500;
  line-height: 1.2;
}
.flavor__content-title {
  font-size: 9.6rem;
  line-height: 1.2;
  margin-bottom: 4rem;
}
.flavor__content-img {
  width: 100%;
  height: 100%;
}
.flavor__time,
.flavor__left-content-txt,
.flavor__right-content-txt {
  font-weight: 500;
  line-height: 1.6;
}

.flavor__left-content-txt,
.flavor__right-content-txt {
  margin-bottom: 3.2rem;
}
.flavor__left-content-ingredient,
.flavor__right-content-ingredient {
  font-size: 2.8rem;
  font-weight: 400;
  line-height: 1.5;
}
.flavor__right-content {
  text-align: right;
  margin-bottom: 16rem;
}
.flavor__right-content-second {
  text-align: right;
  margin-bottom: 8.8rem;
}
.latte {
  color: #DBA73F;
}
.mint {
  color: #06C770;
}
.green-tea {
  color: #03973F;
}
.pineapple {
  color: #CEAA35;
}
.flavor__left-item,
.flavor__right-item {
  margin-bottom: 8.8rem;
}
.flavor__right-item:last-child {
  margin-bottom: 0;
}
.flavor__left-item-title,
.flavor__right-item-title {
  font-size: 4rem;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.flavor__left-item-title {
  text-align: left;
}
.flavor__right-item-title {
  text-align: right;
}
.muscat {
  padding-left: calc(155 / 750 * 100%);
}
.cola,
.melon {
  padding-left: calc(189 / 750 * 100%);
}
.flavor__left-itembox,
.flavor__right-itembox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
  margin-bottom: 1.6rem;
}
.flavor__left-item-img,
.flavor__right-item-img {
  width: 100%;
  height: 100%;
}
.flavor__left-item-txt,
.flavor__right-item-txt {
  font-weight: 500;
  line-height: 1.5;
  white-space: nowrap;
  text-align: center;
}
.flavor__item-ingredient {
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
.mango {
  padding-right: calc(168 / 750 * 100%);
}
.watermelon {
  padding-right: calc(138 / 750 * 100%);
}
.jasmine {
  padding-right: calc(160 / 750 * 100%);
}
/*============================
デバイス
============================*/
#device {
  background-color: #ffffff;
}
.device__title {
  font-size: 4.4rem;
  font-weight: 500;
  color: #1D4984;
  line-height: 1.4;
  text-align: center;
  margin-bottom: 1.6rem;
}
.device__subtitle {
  font-weight: 500;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 4.8rem;
}
.device__content {

}
.device__item {
  display: flex;
  align-items: center;
}
.navy-item {
  padding-left: calc(88 / 750 * 100%);
}
.device__navy-img {
  width: calc(303 / 750 * 100%);
  height: 100%;
}
.pink-item {
  justify-content: flex-end;
  padding-right: calc(112 / 750 * 100%);
  margin-bottom: 2.7rem;
}
.device__pink-img {
  width: calc(328 / 750 * 100%);
  height: 100%;
}
.gold-item {
  padding-left: calc(76 / 750 * 100%);
  margin-bottom: -1.8rem;
}
.device__gold-img {
  width: calc(299 / 750 * 100%);
  height: 100%;
}
.white-item {
  justify-content: flex-end;
  padding-right: calc(91 / 750 * 100%);
  margin-bottom: 5.0rem;
}
.device__white-img {
  width: calc(296 / 750 * 100%);
  height: 100%;
}
.black-item {
  padding-left: calc(88 / 750 * 100%);
}
.device__black-img {
  width: calc(289 / 750 * 100%);
  height: 100%;
}
.device__txt {
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
}
/*============================
メッシュコイル
============================*/
#mesh-coil {
  padding: 8.8rem 0;
  background-color: #F8F5EB;
}
.mesh-coil__inner {
  padding: 0 calc(40 / 750 * 100%);
}
.mesh-coil__txtbox {
  font-weight: 500;
  line-height: 1.6;
  text-align: left;
  margin-bottom: 3.2rem;
}
.mesh-coil__txt-under-spaced {
  margin-bottom: 5.1rem;
}
.mesh-coil__coil-img {
  width: calc(673 / 750 * 100%);
  margin-bottom: 4.8rem;
}
.mesh-coil__analysis-img {
  width: calc(609 / 750 * 100%);
  margin: 0 auto;
}
/*============================
製品使用
============================*/
#product {
  padding: 4.8rem 0 8.8rem;
  background-color: #F4FEFF;
}
#product__splide .splide__pagination {
  display: flex;
  gap: 1.6rem;
  justify-content: center;
}
#product__splide .splide__pagination li {
  list-style: none;
}
#product__splide .splide__pagination .splide__pagination__page {
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  opacity: 0.6;
  transform: scale(1);
  transition: transform .3s ease, opacity .3s ease;
}
#product__splide .splide__pagination .is-active {
  transform: scale(1.2);
  opacity: 1;
}
/* Navy Blue */
#product__splide .splide__pagination li:nth-child(1) button {
  background-color: #1D4984;
}

/* Pearl Pink */
#product__splide .splide__pagination li:nth-child(2) button {
  background-color: #DBB7C3;
}

/* Gold */
#product__splide .splide__pagination li:nth-child(3) button {
  background-color: #CEAA35;
}

/* Pearl White */
#product__splide .splide__pagination li:nth-child(4) button {
  background-color: #ffffff;
  border: 1px solid #9D9B9B;
}

/* Matt Black */
#product__splide .splide__pagination li:nth-child(5) button {
  background-color: #2D2D2D;
}
.product__slider {

}
#product__splide.splide{
}
.splide__track{
}
.splide__list{
}
.splide__slide{
}
.product__list{
}
.product__color-name {
  font-size: 4rem;
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
  margin-bottom: -4rem;
}
.product__device-img {
  width: calc(543 / 750 * 100%);
  height: 100%;
  margin: 0 auto;
}
.product__navy {
  color: #1D4984;
}
.product__pink {
  color: #DBB7C3;
}
.product__gold {
  color: #BD9E85;
}
.product__white {
  color: #ffffff;
  text-shadow: 2px 2px 1px rgba(157, 155, 155, .77);
}
.product__black{
}
.product__title {
  font-size: 4rem;
  font-weight: 500;
  color: #1D4984;
  line-height: 1.2;
  margin-bottom: 3.7rem;
  text-align: right;
  padding-right: calc(67 / 750 * 100%);
}
.product__txt {
  font-weight: 500;
  line-height: 1.6;
  text-align: right;
  padding-right: calc(64 / 750 * 100%);
}
/*============================
#starter
============================*/
#starter {
  padding: 9.8rem 0 8rem;
  background-color: #FFFCF6;
}
.starter__title {
  font-size: 4.4rem;
  font-weight: 500;
  color: #1D4984;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2.4rem;
}
.starter__first-tag {
  width: 16.7rem;
  margin: 0 auto 2.4rem;
}
.gold__tag {
  background-color: #E3D594;
  font-size: 3rem;
  line-height: 1.5;
  padding: .9rem 0 .8rem;
  text-align: center;
}
.starter__txtbox {
  width: 66.2rem;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: .05em;
  text-align: left;
  margin: 0 auto 4.4rem;
}
.starter__txt-under-spaced {
  margin-bottom: 5.1rem;
}
.starter__row-tag-content {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
}
.starter__second-tag {
  width: 32.2rem;
}
.blue__tag {
  background-color: #1D4984;
  font-size: 3.4rem;
  color: #ffffff;
  line-height: 1.5;
  padding: .5rem 0;
  text-align: center;
}
.starter__device-img {
  width: calc(497 / 750 * 100%);
  height: 100%;
  margin: 0 auto 3.1rem;
}
.starter__set-txtbox {
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  margin-bottom: 3.2rem;
}
.starter__blue-txt {
  font-size: 4rem;
  color: #1D4984;
}
.starter__black-txt {
    font-size: 4.8rem;
}
.starter__flavor-img {
  width: calc(719 / 750 * 100%);
  height: 100%;
  padding-left: calc(39 / 750 * 100%);
  margin-bottom: 2.6rem;
}
.starter__txt-img {
  width:calc(645 / 750 * 100%);
  height: 100%;
  margin: 0 auto 2.4rem;
}
.starter__btn-img {
  display: block;
  width: calc(714 / 750 * 100%);
  height: 100%;
  margin: 0 auto;
  transition: .3s ease;
}
@media screen and (min-width: 751px) {
  .starter__btn-img:hover {
    opacity: .7;
  }
}
/*============================
歩み
============================*/
#step {
  padding: 1.6rem 0 15.2rem;
    background: url("../img/step_bg-img.png") bottom center / cover no-repeat;
    background-color: #ffffff;
}
.step__title {
  margin-bottom: 5.6rem;
}
.step__txtbox {
  width: calc(680 / 750 * 100%);
  font-weight: 400;
  line-height: 1.6;
  text-align: center;
  margin: 0 auto 5.1rem;
}
.step__txt-under-spaced {
  margin-bottom: 5.1rem;
}
.blue__txt {
  font-weight: bold;
  color: #1D4984;
}
.step__main-txt {
  font-size: 4rem;
  font-weight: 500;
  color: #1D4984;
  line-height: 1.6;
  text-align: center;
}
/*============================
メディア
============================*/
#media {
  padding: 3.2rem 0 11.8rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  background-color: #ffffff;
}
.media__title {
  margin-bottom: 4.8rem;
}
.media__book-img {
  width: calc(307 / 750 * 100%);
  height: 100%;
  margin-bottom: 3.2rem;
}
.media__txtbox {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
}
.media__txt{
}
/*============================
お客様の声
============================*/
#user-voice {
  padding: 8.8rem 0;
  background: url("../img/user-voice-bg.jpg") bottom center / cover no-repeat;
}
.user-voice__title {
  margin-bottom: 4.8rem;
}
.user-voice__inner {
  padding: 0 calc(37 / 750 * 100%);
}
.user-voice__content {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 4.8rem;
}
.user-voice__blue-item,
.user-voice__gold-item {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  padding: 5.6rem 0;
  box-shadow: 0 4px 8px #C8D8C8;
}
.user-voice__blue-item {
  background-color: #F4FEFF;
}
.user-voice__gold-item {
  background-color: #FFFCF6;
}
.user-voice__img {
  width: calc(200 / 676 * 100%);
  height: 100%;
  margin-bottom: 2.4rem;
}
.user-voice__blue-title,
.user-voice__gold-title {
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}
.user-voice__blue-title {
  color: #1D4984;
}
.user-voice__gold-title {
  color: #DBA73F;
}
.user-voice__profile-txt {
  line-height: 1.5;
  margin-bottom: 1.3rem;
}
.user-voice__item-txt {
  width: calc(548 / 676 * 100%);
  line-height: 1.6;
  padding-top: 1.6rem;
  letter-spacing: .05em;
}
.blue__dotted-line {
  border-top: 2px dashed #1D4984;
}
.gold__dotted-line {
  border-top: 2px dashed #DBA73F;
}
/*============================
よくある質問
============================*/
#faq {
  padding: 8.8rem 0 6.4rem;
  background-color: #ffffff;
}
.faq__title {
  margin-bottom: 4.8rem;
}
.faq__inner {
  padding: 0 calc(49 / 750 * 100%);
}
.faq__list-title {
  font-size: 4rem;
  font-weight: 500;
  color: #1D4984;
  line-height: 1.5;
  margin: 0 0 3.2rem .4rem;
}
.faq__accordion {
  display: flex;
  flex-flow: column;
  gap: 4.8rem;
  margin-bottom: 6.4rem;
}
.faq__accordion-titlebox {
  position: relative;
  width: 100%;
  background-color: #F4FEFF;
  cursor: pointer;
}
.faq__accordion-titlebox::before,
.faq__accordion-titlebox::after {
  position: absolute;
  content:'';
  width: 2.6rem;
  height: 4px;
  background-color: #1D4984;
}
.faq__accordion-titlebox::before {
  top:48%;
  right: 3.6rem;
  transform: rotate(0deg);
}
.faq__accordion-titlebox::after {
  top:48%;
  right: 3.6rem;
  transform: rotate(90deg);
  transition: .3s;
}
.faq__accordion-titlebox.close::before,
.faq__accordion-titlebox.close::after {
  transform: rotate(0deg);
}
.faq__accordion-title {
  width: calc(567 / 652 * 100%);
  position: relative;
  display: flex;
  align-items: center;
  gap: 2.4rem;
  font-size: 3.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
  padding-left: calc(60 / 678 * 100%);
  flex-shrink: 0;
}
.faq__accordion-title::before {
  content: "Q";
  position: absolute;
  left: .6rem;
  font-size: 1em;
  font-weight: bold;
  color: #1D4984;
}
.faq__accordion-txtbox {
  width: calc(527 / 652 * 100%);
  margin-top: 1.6rem;
  margin-left: calc(56 / 652 * 100%);
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition:
    max-height 0.5s cubic-bezier(0.25, 1, 0.5, 1),
    opacity 0.5s ease,
    padding 0.5s ease;
}
.faq__accordion-txtbox.open {
  max-height: 40.0rem;
  opacity: 1;
}
.faq__accordion-txt {
  line-height: 1.6;
  letter-spacing: .05em;
  text-align: left;
}
/*============================
フッター
============================*/
.footer {
  padding-top: 8.4rem;
  background-color: #ffffff;
}
.footer__content {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.footer__main-txt {
  font-size: 3.6rem;
  font-weight: 400;
  color: #1D4984;
  line-height: 1.25;
  text-align: center;
  margin-bottom: 6.4rem;
}
.footer__full-width-img {
  width: 100%;
  height: 100%;
  margin-bottom: 6.4rem;
}
.footer__campaign {
  margin-bottom: 4rem;
}
.footer__cta-box {
  display: flex;
  flex-flow: column;
  gap: 4rem;
  text-align: center;
  font-weight: 500;
  line-height: 1.6;
}
.footer__txt-top {
  font-size: 3.6rem;
}
.footer__txt-bottom {
  font-size: 3.2rem;
}
.footer__cta-btn {
  display: block;
  width: 100%;
  max-width: 57.8rem;
  padding: 3.4rem 0 3.2rem;
  margin: 0 auto 8.1rem;
  background-color: #06C755; /* 背景色 */
  box-shadow: 4px 7px 0 #03973F; /* 影の太さ・色 */
  border-radius: 999px;
  color: #fff;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.footer__rule-content {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2.4rem;
  background-color: #1D4984;
  padding: 4.8rem 0 3.4rem;
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.2;
}
.footer__rule {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: calc(38 / 750 * 100%);
  
}
.footer__privacy,
.footer__agreement,
.footer__copyright {
  color: #ffffff;
}
@media screen and (min-width: 751px) {
  .footer__cta-btn:hover {
    transform: translateY(7px);
    box-shadow: 0 0 0 #03973F;
  }
}